body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  background-color: #1e1e1e;
  color: white
}

/* Contenedor de cada pregunta */
.pregunta-container {
  display: flex;
  flex-direction: column;
  align-items: start; /* Alinea los elementos a la izquierda */
  gap: 10px;
  margin-bottom: 20px;
}

/* Estilos para el enunciado del ejercicio */
.ejercicio-texto {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 10px;
}

/* Estilos para las opciones de respuesta */
.opciones-lista {
  list-style: none;
  padding: 0;
}

.opcion {
  font-size: 1rem;
  margin-bottom: 5px;
}

label {
  display: block;
}

/* Estilos para las imágenes de los ejercicios */
.imagen-ejercicio {
  max-width: 80%; /* Ajusta el tamaño */
  height: auto;
  display: block;
  margin: 10px 15px 10px 0; /* Empuja la imagen a la izquierda */
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
  .pregunta-container {
    align-items: center; /* Centra la imagen solo en móviles */
  }

  .ejercicio-texto {
    font-size: 1rem;
  }

  .opcion {
    font-size: 0.95rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .imagen-ejercicio {
    max-width: 100%;
    margin: 10px auto; /* Centrada solo en móviles */
  }
}
